.home_section_1 {
  max-width: 1366px;
  margin: 0 auto;
  min-height: 75vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  #background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #fff;
  }

  h1 {
    text-align: center;
    font-size: 40px;
    position: relative;
    width: 80%;
    margin: 0 auto;
    font-weight: 600;

    &:first-child {
      background: linear-gradient(to right, #ff8a00, #e52e71, #1e90ff);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
        font-weight: bolder;
        text-transform: uppercase;
    }

    svg {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -10px;
    }
  }

  .cent {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    a {
      border-radius: 18px;
      position: relative;
      padding: 15px 30px;
      background-color: #ff8a00;
      color: #fff;
      transition: all .2s;

      &:hover {
        background-color: #e67f0b;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .home_section_1 {
    h1 {
      font-size: 25px;
      width: 343px;
    }
  }
}